.outer-border {
  text-align: center;
  border: solid black;
  border-width: 2px 2px;
  background-color: beige;
  padding: 3em;
}

.inner-border {
  background-color: beige;
  border-radius: 0;
  border: solid black;
  border-width: 2px 2px;
  padding: 5em;
}



h1, h2, h3 {
  font-family: 'Eczar', serif;
}

p, h4, h5, h6 {
  font-family: 'Gentium Basic', serif;
}