.wilde-websites ::-moz-selection {
    background: var(--wilde-website-color);
    color: white;
}

.wilde-websites ::-webkit-selection {
    background: var(--wilde-website-color);
    color: white
}

.wilde-websites ::selection {
    background: var(--wilde-website-color);
    color: white;
}

.wilde-era-websites ::-moz-selection {
    background: var(--wilde-era-color);
    color: white;
}

.wilde-era-websites ::-webkit-selection {
    background: var(--wilde-era-color);
    color: white
}

.wilde-era-websites ::selection {
    background: var(--wilde-era-color);
    color: white;
}

.adaptations ::-moz-selection {
    background: var(--adaptations-color);
    color: white;
}

.adaptations ::-webkit-selection {
    background: var(--adaptations-color);
    color: white
}

.adaptations ::selection {
    background: var(--adaptations-color);
    color: white;
}


.jumbotron {
    border-radius: 0;
    padding: 0;
    padding-top: 15vh;
    margin-bottom: 15vh;
}

.wilde-websites .jumbotron {
    background-color: var(--wilde-website-color);
}

.wilde-era-websites .jumbotron {
    background-color: var(--wilde-era-color);
}

.adaptations .jumbotron {
    background-color: var(--adaptations-color);
}

.header-wrapper {
    position: relative;
    padding-top: 10vh;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.header-box {
    position: absolute;
    bottom: -5vh;
    margin: 0 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    padding: 2vh 2vw;
    background-color: white;
    /* border: 1px solid black; */
    box-shadow: 8px 8px black;
}

.article .header-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: baseline;
}

.article .header-box {
    position: absolute;
    display: block;
    justify-content: left;
    background-color: white;
    box-shadow: -8px 8px black;
    margin-left: 2vw
}

.content-card-wrapper {
    display: flex;
    align-items: stretch;
    margin-bottom: 2rem;
}

.content-card {
    border-radius: 0;
    width: 100%;
    border: 0.5rem solid black;
    transition: all .3s ease-in-out;
}

.wilde-websites .content-card:hover {
    border: 0.5rem solid var(--wilde-website-color);
}

.wilde-era-websites .content-card:hover {
    border: 0.5rem solid var(--wilde-era-color);
}

.adaptations .content-card:hover {
    border: 0.5rem solid var(--adaptations-color);
}

.card-body {
    padding: 1rem
}

.content-card-wrapper a:hover {
    text-decoration: none;
}

.image-frame {
    margin: 1vw 1vw;
    margin-right: 3vw;
    display: flex;
    float: right;
    height: 40vh;
    border: 0.5rem solid black;
    transition: all .3s ease-in-out;
}

.wilde-websites.image-frame:hover {
    border: 0.5rem solid var(--wilde-website-color);
}

.wilde-era-websites.image-frame:hover {
    border: 0.5rem solid var(--wilde-era-color);
}

.adaptations.image-frame {
    border: 0.5rem solid var(--adaptations-color);
}

.adaptations.image-frame:hover {
    border: auto;
}

.wilde-websites.navbar {
    background-color: var(--wilde-website-color);
}

.wilde-era-websites.navbar {
    background-color: var(--wilde-era-color);
}

.adaptations.navbar {
    background-color: var(--adaptations-color);
}

.navbar a {
    color: black;
    text-decoration: underline;
}

.navbar a:hover {
    color: white;
    text-decoration: underline;
}

.dropdown-menu a:hover {
    color: black;
    font-weight: 500;
}

@media only screen and (max-width: 600px) {
    .header-box h1 {
        font-size: 2em;
    }
    .header-box h2 {
        font-size: 1.5em;
    }
    .header-box h4 {
        font-size: 1em;
    }
    .image-frame {
        display: none;
    }
}